<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/books.css' />
  </head>
  <body>
    <section>
      <%- include('partials/navigation.ejs') %> 
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <a href="/darkcookie" class="button">Dark</a>
      <a href="/lightcookie" class="button">Ligth</a>
      <div id="main">
        <% for( let i = 0; i < books.length; i++){ %>
          <div id="tarjeta">
            <h1><%= books[i].title %> </h1>
            <img src="<%= books[i].image %> ">
            <p>Author: <%= books[i].author %> <br> <%= books[i].description %></p>
            <div id="btn">
              <a onclick="confirmar('<%= books[i].id_book %>')" class="button">Eliminar</a>
            </div>
          </div>
        <% } %> 
      </div>
    </section>
    <%- include('partials/footer.ejs') %> 
  </body>
</html>
